<h1>New Order</h1>

<%= form_for @order do |f| %>
  <div class="field">
    <%= f.label :card_number, "Credit Card Number" %><br />
    <%= f.text_field :card_number %>
    <span class="error"></span>
  </div>
  <div class="field">
    <%= f.label :card_expires_on, "Credit Card Expiration" %><br />
    <%= f.date_select :card_expires_on, add_month_numbers: true, start_year: Time.now.year, order: [:month, :year] %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount, size: 10 %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
