<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @order.number %>
</p>

<p>
  <b>Card last four:</b>
  <%= @order.card_last_four %>
</p>

<p>
  <b>Amount:</b>
  <%= @order.amount %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
